# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Local config
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
captures/
.externalNativeBuild/
.cxx/

# Build outputs
*.aab
*.apk
output-metadata.json

# Keystore files
*.jks
*.keystore

# Google services
google-services.json

# Kotlin
*.kotlin_module
*.hprof

# OS
.DS_Store
Thumbs.db
*.log
